@import url('https://fonts.cdnfonts.com/css/telegraf');
@import url('https://fonts.cdnfonts.com/css/garet');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

body {
    margin: 0;
    padding: 0;
    background: #000000;
    overflow-x: hidden;
    height: 100vh;
    color: white;
}

#inicio {
    text-align: center;
    min-height: 160vh;
}

#canvasInicial {
    background: linear-gradient(to bottom, #002d3f, #00425c, #015d81);
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100vh;
}

#canva {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#tituloIndex {
    margin-top: 20vh;
}

header {
    padding-bottom: 100px;
    padding-left: 25px;
    margin-bottom: 160px;
    height: 80px;
    background-color: #176585;
    background: linear-gradient(to bottom, #176585, #176585, #002d3f);
    overflow-x: auto;
    overflow-y: hidden;
    text-align: left;
    white-space: nowrap;
}

header button {
    margin-top: 50px;
    margin-left: 5px;
    height: 40px;
    padding: 0 10px;
    border-radius: 50px;
    background: linear-gradient(to right, #27b1bf, #2ecddf, #31dcef);
    font-family: 'Garet';
    font-weight: 500;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    white-space: nowrap;
}

header button:hover {
    background-color: #1f8a95;
}

h1 {
    font-size: 8rem;
    font-family: Telegraf;
    font-weight: 500;
    margin: 0;
}

.imagemIndex {
    position: absolute;
    z-index: -1;
}

#imgDecoracao1 {
    width: 40%;
    top: 25%;
    left: 30%;
}

#imgDecoracao2 {
    width: 25%;
    height: 45%;
    top: 80%;
    left: 0%;
    rotate: -65deg;
}

#imgDecoracao3 {
    width: 35vw;
    height: 60vh;
    top: 25%;
    right: -3%;
    rotate: -90deg;
}

#iniciar {
    background-color: black;
    color: white;
    font-size: 2rem;
    font-family: 'Garet';
    height: 60px;
    width: 190px;
}


main {
    text-align: center;
}

/*----------------------------------  Páginas:  --------------------------------------*/

.H1Paginas {
    color: #d9e9cd;
    margin-left: 15vw;
    width: 50vw;
    font-size: 6rem;
    font-family: Telegraf;
    font-weight: 500;
    margin: 0;
}

.BlocoDeDecoracao {
    margin-left: 15vw;
    margin-top: 8vh;
    background: linear-gradient(to right, #d9e9cd, #49c7c7, #27b1bf);
    width: 80vw;
    height: 15vh;
    border-radius: 30px;
}

#SA {
    position: absolute;
    color: #27b1bf;
    font-weight: bold;
    top: 35vh;
    right: 20vw;
}

#content {
    margin-top: 20vh;
    min-height: 100vh;
    font-family: 'Quicksand' !important;
}

#DAMN {
    width: 80vw;
    height: 10vh;
    position: absolute;
    right: 5vw;
    z-index: 1;
}

p {
    font-family: Quicksand;
}

#imgPagina {
    width: 25vw;
    height: 55vh;
    position: absolute;
    right: 5vw;
    top: 90vh;
    rotate: 45deg;
}

.conteudo {
    margin-top: 30px;
    background: #202020;
    font-size: 18px;
    border-radius: 20px;
    padding: 20px;
}


.borderline {
    border: 20px solid #202020;
    border-radius: 25px;
}


/*--------------------------------- Section 1 -------------------------------------*/

#title1 {
    position: relative;
    margin-top: 25vh;
    left: 14vw;
}

#imgPagina2 {
    width: 35vw;
    height: 65vh;
    position: absolute;
    left: 0vw;
    top: 165vh;
}

#imgPagina3 {
    z-index: -1;
    width: 40vw;
    height: 145vh;
    position: absolute;
    left: 0vw;
    top: 203vh;
}

.titulos {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 3.5rem;
    color: #018fa6;
}


#conteudo1 {
    margin-left: 37vw;
    width: 700px;
}

#imgPagina4 {
    margin-top: 5vh;
    margin-left: 28vw;
    width: 30vw;
    height: 40vh;
}

#imgPagina5 {
    margin-top: 5vh;
    margin-left: 1vw;
    width: 30vw;
    height: 40vh;
}


/*--------------------------------- Section 2 -------------------------------------*/

#sec2 {
    position: relative;
    top: 20vh;
    height: 70vh;
}

#imgPagina6 {
    width: 35vw;
    height: 75vh;
    position: absolute;
    top: -38vh;
    right: -10vw;
    z-index: -1;
}

#title2 {
    margin-top: 50vh;
    margin-right: 95vh;
}

#conteudo2 {
    margin-left: 5vw;
    width: 480px;
}

#imgPagina7 {
    position: relative;
    top: -60vh;
    right: -20vw;
    width: 28vw;
    height: 48vh;
}

#imgPagina8 {
    display: flex;
    flex-direction: row;
    width: 70vw;
}

/*--------------------------------- Section 3 -------------------------------------*/

#sec3 {
    position: relative;
    margin-top: 30vh;
}

#conteudo3 {
    margin-left: 6vw;
    width: 500px;
}

#title3 {
    display: flex;
    flex-direction: row;
    margin-top: 10vh;
    font-size: 600%;
    margin-left: 11vw !important;
}

#imgPagina9 {
    position: absolute;
    top: 65vh;
    right: 1vw;
    width: 50vw;
    height: 90vh;
}

#imgPagina10 {
    position: relative;
    bottom: 70vh;
    left: 25vw;
    width: 30vw;
    height: 40vh;
}

/* --------------------------------- Section 4 ---------------------------------------------*/

#sec4 {
    margin-top: 20vh;
    height: 70vh;
}

#imgPagina11 {
    position: absolute;
    left: -0.1vw;
    margin-top: 10vh;
    width: 30vw;
    height: 80vh;
}

#conteudo4 {
    position: relative;
    top: -40vh;
    left: 30vw;
    width: 600px;
}

#title4 {
    position: relative;
    top: -40vh;
    left: 4vw;
    font-size: 300%;
}

#imgPagina12 {
    position: relative;
    top: -40vh;
    left: 50vw;
    width: 30vw;
    height: 40vh;
}

#imgPagina13 {
    position: relative;
    bottom: 45vh;
    width: 45vw;
    height: 55vh;
    right: 40vw;
}

/* -------------------------------------------------- section 5 -------------------------------------------------------*/

#sec5 {
    position: relative;
    margin-top: 20vh;
}

#imgPagina2-2 {
    width: 35vw;
    height: 65vh;
    position: absolute;
    left: 0vw;
    top: 15vh;
}

#imgPagina3-2 {
    z-index: -1;
    width: 40vw;
    height: 145vh;
    position: absolute;
    left: 0vw;
    top: 43vh;
}


/* --------------------------------------- section 6 -------------------------------------------------- */

#sec6 {
    position: relative;
    margin-top: 20vh;
    height: 100vh;
}

/* --------------------------------------- section 7 --------------------------------------------------- */

#sec7 {
    position: relative;
    margin-top: 20vh;
}

#imgPagina9-2 {
    position: absolute;
    top: 50vh;
    right: 1vw;
    width: 50vw;
    height: 90vh;
}

#title7 {
    display: flex;
    flex-direction: row;
    margin-top: 10vh;
    font-size: 300%;
    margin-left: 1vw !important;
}

/* --------------------------------------- section 8 --------------------------------------------------- */

#sec8 {
    position: relative;
    margin-top: 20vh;
    height: 40vh;
}

/* --------------------------------------- section 9 --------------------------------------------------- */

#sec9 {
    position: relative;
    margin-top: 20vh;
    height: 140vh;
}

/* --------------------------------------- section 10 --------------------------------------------------- */

#sec10 {
    position: relative;
    margin-top: 20vh;
    height: 100vh;
}

/* --------------------------------------- section 11 --------------------------------------------------- */

#sec11 {
    position: relative;
    margin-top: 20vh;
}

/* --------------------------------------- section 12 --------------------------------------------------- */

#sec12 {
    position: relative;
    margin-top: 20vh;
    height: 140vh;
}

/* --------------------------------------- section 13 --------------------------------------------------- */

#sec13 {
    position: relative;
    margin-top: 20vh;
    height: 100vh;
}

/* --------------------------------------- section 14 --------------------------------------------------- */

#sec14 {
    position: relative;
    margin-top: 20vh;
}

/* --------------------------------------- section 15 --------------------------------------------------- */

#sec15 {
    position: relative;
    margin-top: 20vh;
    height: 40vh;
}

/* --------------------------------------- section 15 --------------------------------------------------- */

#sec16 {
    position: relative;
    margin-top: 200vh;
    height: 140vh;
}