@import url('https://fonts.cdnfonts.com/css/telegraf');
@import url('https://fonts.cdnfonts.com/css/garet');

body{
    margin: 0;
    padding: 0;
    background-color: #f7f3cf;
    overflow-x: hidden;
}

#inicio{
    text-align: center;
}


header{
    padding-bottom: 100px;
    padding-left: 25px;
    margin-bottom: 160px;
    height: 80px;
    background-color: #176585;
    background: linear-gradient(to bottom ,#176585,#176585, #f7f3cf);
    overflow-x: auto;
    overflow-y: hidden;
    text-align: left;
    white-space: nowrap; 
}

header button{
    margin-top: 50px;
    margin-left: 5px;
    height: 40px;
    padding: 0 10px;
    border-radius: 50px;
    background: linear-gradient(to right, #27b1bf,#2ecddf,#31dcef);
    font-family: 'Garet';
    font-weight: 500;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    white-space: nowrap; 
}

header button:hover{
    background-color: #1f8a95;
}

h1{
    font-size: 8rem;
    font-family: Telegraf;
    font-weight: 500;
    margin: 0;
}

.imagemIndex{
    position: absolute;
    z-index: -1;
}

#imgDecoracao1{
    width: 40%;
    top: 25%;
    left: 30%;
}

#imgDecoracao2{
    width: 25%;
    height: 45%;
    top: 80%;
    left: 0%;
    rotate: -65deg;
}

#imgDecoracao3{
    width: 35vw;
    height: 60vh;
    top: 25%;
    right: -3%;
    rotate: -90deg;
}

#iniciar{
    background-color: black;
    color: white;
    font-size: 2rem;
    font-family: 'Garet';
    height: 60px;
    width: 190px;
}