@import url('https://fonts.cdnfonts.com/css/telegraf');
@import url('https://fonts.cdnfonts.com/css/garet');

body{
    margin: 0;
    padding: 0;
    background-color: #f7f3cf;
    overflow: hidden;
}

#inicio{
    text-align: center;
}


header{
    padding-bottom: 100px;
    padding-left: 25px;
    margin-bottom: 220px;
    height: 100px;
    background-color: #176585;
    overflow-x: auto;
    overflow-y: hidden;
    text-align: left;
    white-space: nowrap; 
}

header button{
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
    height: 100px;
    padding: 0 20px;
    border-radius: 50px;
    background-color: #27b1bf;
    font-family: 'Garet', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    white-space: nowrap; 
}

header button:hover{
    background-color: #1f8a95;
}

h1{
    font-size: 8rem;
    font-family: Telegraf;
    font-weight: 500;
    margin: 0;
}

.imagemIndex{
    position: absolute;
    z-index: -1;
}