@import url('https://fonts.cdnfonts.com/css/telegraf');
@import url('https://fonts.cdnfonts.com/css/garet');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #002d3f, #00425c, #015d81);
    overflow-x: hidden;
}

#inicio {
    text-align: center;
}

#canvasInicial {
    background: linear-gradient(to bottom, #002d3f, #00425c, #015d81);
    top: 180px;
    left: 0vw;
    position: absolute;
    z-index: -1;
}

#tituloIndex{
    margin-top: 30vh;
}

header {
    padding-bottom: 100px;
    padding-left: 25px;
    margin-bottom: 160px;
    height: 80px;
    background-color: #176585;
    background: linear-gradient(to bottom, #176585, #176585, #002d3f);
    overflow-x: auto;
    overflow-y: hidden;
    text-align: left;
    white-space: nowrap;
}

header button {
    margin-top: 50px;
    margin-left: 5px;
    height: 40px;
    padding: 0 10px;
    border-radius: 50px;
    background: linear-gradient(to right, #27b1bf, #2ecddf, #31dcef);
    font-family: 'Garet';
    font-weight: 500;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    white-space: nowrap;
}

header button:hover {
    background-color: #1f8a95;
}

h1 {
    font-size: 8rem;
    font-family: Telegraf;
    font-weight: 500;
    margin: 0;
}

.imagemIndex {
    position: absolute;
    z-index: -1;
}

#imgDecoracao1 {
    width: 40%;
    top: 25%;
    left: 30%;
}

#imgDecoracao2 {
    width: 25%;
    height: 45%;
    top: 80%;
    left: 0%;
    rotate: -65deg;
}

#imgDecoracao3 {
    width: 35vw;
    height: 60vh;
    top: 25%;
    right: -3%;
    rotate: -90deg;
}

#iniciar {
    background-color: black;
    color: white;
    font-size: 2rem;
    font-family: 'Garet';
    height: 60px;
    width: 190px;
}


main {
    text-align: center;
}

/*----------------------------------  Páginas:  --------------------------------------*/

.H1Paginas {
    margin-left: 15vw;
    width: 50vw;
    font-size: 6rem;
    font-family: Telegraf;
    font-weight: 500;
    margin: 0;
}

.BlocoDeDecoracao {
    margin-left: 15vw;
    margin-top: 8vh;
    background: linear-gradient(to right, #d9e9cd, #49c7c7, #27b1bf);
    width: 80vw;
    height: 15vh;
    border-radius: 30px;
}

#SA {
    position: absolute;
    color: #27b1bf;
    font-weight: bold;
    top: 35vh;
    right: 20vw;
}

#content {
    margin-top: 20vh;
    font-family: 'Quicksand' !important;
}

#DAMN{
    width: 80vw;
    height: 10vh;
    position: absolute;
    right: 5vw;
    z-index: 1;
}

p{
    font-family: Quicksand;
    font-size: 23px;
}

#imgPagina {
    width: 25vw;
    height: 55vh;
    position: absolute;
    right: 5vw;
    top: 90vh;
    rotate: 45deg;
}

/*--------------------------------- Section 1 -------------------------------------*/

#imgPagina2 {
    width: 35vw;
    height: 65vh;
    position: absolute;
    left: 0vw;
    top: 115vh;
}

#imgPagina3 {
    z-index: -1;
    width: 50vw;
    height: 95vh;
    position: absolute;
    left: 0vw;
    top: 153vh;
}

.titulos {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 4rem;
    color: #018fa6;
    margin-top: 25vh;
    margin-left: 15vw;
}

.conteudo {
    background: linear-gradient(to right, #d9e9cd, #49c7c7, #27b1bf);
    border-radius: 30px;
}

#conteudo1 {
    margin-left: 37vw;
    width: 700px;
}

#imgPagina4 {
    margin-top: 5vh;
    margin-left: 20vw;
    width: 20vw;
    height: 28vh;
}

#imgPagina5 {
    margin-top: 5vh;
    margin-left: 2vw;
    width: 20vw;
    height: 28vh;
}

#imgPagina6 {
    width: 35vw;
    height: 75vh;
    position: absolute;
    right: -3vw;
    z-index: -1;
}

/*--------------------------------- Section 2 -------------------------------------*/

#conteudo2 {
    margin-left: 38vw;
    width: 700px;
}

#imgPagina7 {
    position: relative;
    top: -50vh;
    left: -30vw;
    width: 28vw;
    height: 48vh;
}

.borderline {
    border: 10px solid #27b1bf;
    border-radius: 35px;
}

#sec2 {
    margin-top: 10vh;
    height: 70vh;
}

#imgPagina8 {
    display: flex;
    flex-direction: row;
    width: 70vw;
}

/*--------------------------------- Section 3 -------------------------------------*/

#sec3{
    margin-top: 20vh;
}

#conteudo3 {
    margin-left: 8vw;
    width: 600px;
}

#arduino{
    display: flex;
    flex-direction: row;
    margin-top: 10vh;
    font-size: 600%;
    margin-left: 13vw !important;
}

#imgPagina9{
    position: absolute;
    top: 400vh;
    right: 8vw;
    width: 50vw;
    height: 90vh;
}

#imgPagina10{
    position: relative;
    bottom: 50vh;
    left: 17vw;
    width: 30vw;
    height: 40vh;
}

#imgPagina11{
    position: absolute;
    left: -0.1vw;
    margin-top: 10vh;
    width: 30vw;
    height: 80vh;
}

/* --------------------------------- Section 4 ---------------------------------------------*/

#conteudo4{
    position: relative;
    left: 40vw;
    width: 700px;
}

#CF{
    margin-top: 5vh;
    font-size: 350%;
}

#imgPagina12{
    position: relative;
    left: 30vw;
    width: 30vw;
    height: 40vh;
    margin-bottom: 20vh;
}

#imgPagina13{
    position: absolute;
    width: 45vw;
    height: 55vh;
    right: 40vw;
}

/* -------------------------------------------------- section 5 -------------------------------------------------------*/
#sec5{
    margin-top: 20vh;
}

#imgPagina2-2{
    width: 35vw;
    height: 65vh;
    position: absolute;
    left: 0vw;
    top: 645vh;
}

#imgPagina3-2{
    z-index: -1;
    width: 50vw;
    height: 95vh;
    position: absolute;
    left: 0vw;
    top: 683vh;
}

#imgPagina9-2{
    position: absolute;
    top: 965vh;
    right: 8vw;
    width: 50vw;
    height: 90vh;
}

/* --------------------------------------- section 6 -------------------------------------------------- */